
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 18px 22px;
    border: none;
    background-color: #ff900e;
    border-radius: 5px;
    margin: 32px 0px;
    cursor: pointer;
}
.text-light-gray{
    color: #727272;
    font-size: 1rem; 
}
/* header style */
header{
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: #131313;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 25px;
}
nav ul li .menu-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
/* banner style  */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    margin-top: 100px;
    margin-bottom: 1.8rem;
}

.banner-container .banner-img{
    width: 100%;
}

/* main style  */
main{
    max-width: 1400px;
    margin: 70px auto;
}

/* teams style  */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}
.team-content{
    padding: 0px 70px;
}
.section-title{
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 25px;
}
.quick-list{
    font-weight: 500;
    font-size: 2.8rem;
}
.features-text-color{
    color: #ff900e;
}
.teams-image-container img{
    width: 100%;
}

/* responsive part  */
@media screen and (max-width: 576px){
    header{
        padding: 30px 50px;
        text-align: center;
        margin-bottom: 50px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 20px;
    }
    nav ul li{
        margin-right: 15px;
    }
    .banner-title{
        font-size: 2.5rem;
        margin-top: 80px;
    }
    .teams-container{
        flex-direction: column-reverse;
        padding: 0px 50px;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding: 0px;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px){
    header{
        padding: 30px 30px;
        margin-bottom: 50px;
    }
    nav ul li{
        margin-right: 15px;
    }
    .logo{
        font-size: 1.3rem;
    }
    .banner-title{
        font-size: 3rem;
    }
    .teams-container{
        flex-direction: column-reverse;
        padding: 0px 30px;
    }

    .team-content{
        padding: 0px 20px;
    }
    
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    header{
        padding: 50px 80px;
    }
    .teams-container{
        justify-content: space-between;
    }
    .teams-container > *{
        width: 50%;
    }
    .teams-container{
        padding-left: 30px;
    }
    .team-content{
        padding: 0px 50px;
    }
}